/* Estilos para el modal */
.modal-content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    border: none;
    text-align: center;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para el botón */
  .submit-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #258cd1;
  }
  